include ../src/components/less/Variables.pug

<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="../src/assets/static/less/less.ico", type="image/x-icon")
    title PlatziGames
  body
    #app

//- include ../src/components/pug/Landing.pug
//- include ../src/components/pug/Reto.pug