//- -var imagen = "../src/assets/static/imagen.png"

//- <!DOCTYPE html>
//- html(lang="es")
//-   head
//-     meta(charset="UTF-8")
//-     meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-     link(rel="shortcut icon", href="../src/assets/static/favicon.png", type="image/x-icon")
//-     title Preprocesadores HTML y CSS
//-   body
//-     #app

include ../src/components/pug/Landing.pug