.contenido
  flex-wrap: wrap
  justify-content: space-evenly
  contenedor()

.caja
  width: 30%
  max-width 430px
  margin-bottom: 100px
  caja-sombra()

  &__imagen
    width: 100%
    overflow: hidden
    object-fit: cover

    img
      width: inherit
  
  &__contenido
    min-height: 250px
    padding: 20px
    background-color: color-claro

    span
      color: color-secundario
      titulos(fuente2)
    
    h3
      titulos(fuente2)

  &__categoria
    color: color-secundario
    titulos(fuente2)
